<!-- Custom header to prevent title cutoff -->
<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-header-content">
      {% if page.layout == "home" %}
        <h1 class="site-title">
      {% else %}
        <p class="site-title">
      {% endif %}
        <a href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
      {% if page.layout == "home" %}
        </h1>
      {% else %}
        </p>
      {% endif %}

      {% if site.description %}
        <p class="site-description">{{ site.description | escape }}</p>
      {% endif %}
    </div>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path d="m18,1.484c0,0.82-0.665,1.484-1.484,1.484l-15.032,0c-0.82,0-1.484-0.662-1.484-1.484s0.664-1.484,1.484-1.484l15.032,0c0.82,0,1.484,0.662,1.484,1.484zm0,5.16c0,0.82-0.665,1.484-1.484,1.484l-15.032,0c-0.82,0-1.484-0.662-1.484-1.484s0.664-1.484,1.484-1.484l15.032,0c0.82,0,1.484,0.662,1.484,1.484zm0,5.16c0,0.82-0.665,1.484-1.484,1.484l-15.032,0c-0.82,0-1.484-0.662-1.484-1.484s0.664-1.484,1.484-1.484l15.032,0c0.82,0,1.484,0.662,1.484,1.484z"/>
          </svg>
        </span>
      </label>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.nav_order %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
